h1 {
    font-size: 65px;
    color:orange
    font-family: sans-serif;
    font-style:placeholder;
   
  }
  #lista{
    
  }
  .modificar-cor{
    background-color: rgb(50, 86, 110);
  }

  p {
    font-weight: 600;
    line-height: 10;
    text-align: center;
    text-decoration: crimson;
    
  }

  body {
    font-size: 16px;
    font-style: italic;
    background-color: palegreen;
  }

  #am {
    color: yellow;
  }
  #verm {
    color:red;
  }
  #mar {
    color:brown;
  }