h1{
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
}
#color-list{
  background-color: orangered;
}
.backcolor{
  background-color: purple;
}
p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;

}
body{
  font-size: 16px;
}
ul{
  line-height: 50px;
  text-align: center;
  text-decoration: overline;
  }
  #yellow{
    background-color: yellow;
  }
  #red{
    background-color: red;
  }
  #brown{
    background-color: brown;
  }